.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.advertisement-box.match-advertisement::after {
  content: 'מותאם';
  position: absolute;
  left: 0;
  height: 7vw;
  width: 7vw;
  /* background-color: #7bf542; */
  transform: rotate(-50deg);
  font-size: 1.3vw;
  text-align: center;
  line-height: 12vw;
  left: -2.3vw;
  top: -2.9vw;
  color: #fff;
}

.consumer-info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#consumer-picture {
  width: 8vh;
  height: 8vh;
  border-radius: 50%;
}

#sign-up-close-button-box {
  /* position:absolute; */
  width: 60vw;
  justify-content: left;
  font-size: 2.3vh;
  margin: 10px 0;
  text-decoration: underline;
}

#sign-up-close-next-button {
  /* position:absolute; */
  width: 60vw;
  justify-content: left;
  font-size: 2.3vh;
  margin: 20px 0;
  text-decoration: underline;
}

.sign-up-box {
  display: flex;
  height: 95vh;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  flex-direction: column;
}

.advertisement-frame {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 90vh;
  width: 100%;
}

.advertisement-image-box {
  width: 42vw;
  height: 37.5vh;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  /* background-attachment: fixed; */
  background-size: cover;
}

.advertisement-image-box-full {
  /* padding: 10px; */
  width: 95vw;
  height: calc(80vh);
  background-repeat: no-repeat;
  background-position: center;
  /* background-attachment: fixed; */
  background-size: cover;
}

.advertisement-image-box-modal {
  /* padding: 10px; */
  margin-top: 5px;
  width: 85vw;
  height: calc(60vh);
  background-repeat: no-repeat;
  background-position: center;
  /* background-attachment: fixed;  */
  background-size: cover;
}

.advertisement-image-box-full img {
  width: 100%;
  /* height: 300px;  */
}

.advertisment-image-box-full {
  padding: 10px;
  width: 22vw;
}

.advertisement-image-box img {
  width: 100%;
}

/* .advertisement-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.advertisement-info {
  display: flex;
  flex-direction: column;
  width: 42vw;
  align-items: flex-end;
  height: 8vh;
  position: relative;
}

.advertisement-info-full-screen {
  display: flex;
  flex-direction: column;
  width: 95vw;
  align-items: flex-end;
  height: 10vh;
}

.modal-description {
  display: flex;
  flex-direction: column;
  text-align: end;
}

.advertisement-info-modal {
  display: flex;
  flex-direction: column;
  width: 85vw;
  align-items: flex-end;
  height: 20vh;
}

.advertisement-info:only-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .advertisement-button {
  position: absolute;
  bottom: 4px;
  justify-content: center;
  flex-basis: inherit;
  align-self: center;
} */

.loader {
  border: 1px solid #f3f3f3;
  /* Light grey */
  border-top: 1px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 3vh;
  height: 3vh;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#modal-ad-box{
  margin:0 auto
}

.advertisement-button {
  position: absolute;
  /* bottom: 4px; */
  justify-content: center;
  flex-basis: inherit;
  align-self: center;
  left:0;
  top:3px
}

.consumer-login-box {
  display: flex;
  flex-basis: 50%;
  flex-direction: row;
  align-items: center;
}

.advertisements-top-section {
  height: 10vh;
  flex-direction: row;
  display: flex;
  width: 92vw;
}

.advertisements-top-section p {
  flex-basis: 50%;
}

#select-category-box {
  justify-content: center !important;
  align-items: center !important;
  /* padding: 10px 0; */
  flex-direction: row;
  flex-basis: 50%;
  font-size: 0 !important;
  height: 10vh;
  display: flex;
}

#select-category-box:only-child {
  flex-basis: 100%;
}

#select-category {
  font-size: 1.9vh;
  width: 47vw;
  display: inline;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
  border-radius: .5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
  direction: rtl;
}

.consumer-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 52px;
  flex-basis: 100%;
}

#consumer-logoff-text {
  color: #f44336;
  display: flex;
  flex-direction: column;
}

#consumer-logoff-text:hover {
  cursor: pointer;
}

#sign-up-form-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  width: 60vw;
  font-size: 2.3vh;
}

#sign-up-form-box label {
  direction: rtl;
}

#sign-up-form-box input {
  direction: rtl;
}

#sign-up-form-box input[type="email"] {
  direction: ltr;
  height: 5vh;
  font-size: 3vh;
}

#sign-up-form-box input[type="password"] {
  direction: ltr;
}

#phone-number-input {
  direction: ltr !important;
}

.valid {
  border: 2px solid green;
}

.not-valid {
  border: 2px solid red;
}

#sign-up-form-box button {
  margin-top: 10px;
}

#advertisements-box {
  display: flex;
}

.consumer-box {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
}

.consumer-box:only-child {
  flex-basis: 100%;
}

.advertisement-box {
  display: flex;
  /* justify-content: center; */
  /* flex-wrap: wrap; */
  /* flex-basis: 100%; */
  /* margin-top: 10px; */
  /* border-radius: 2%; */
  /* height: calc(45.5vh); */
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 45vh;
  flex-basis: 45%;
  border: 0px solid black !important;
}

.consumer-box:only-child .advertisement-box {
  flex-basis: 45%;
}

@media screen and (max-width: 2000px) {
  .advertisement-box {
    flex-basis: 45%;
  }
  .consumer-box:only-child .advertisement-box {
    flex-basis: 45%;
  }
}

@media screen and (max-width: 1500px) {
  .advertisement-box {
    flex-basis: 40%;
  }
  .consumer-box:only-child .advertisement-box {
    flex-basis: 45%;
  }
}

@media screen and (max-width: 1024px) {
  .advertisement-box {
    flex-basis: 60%;
  }
  .advertisement-image-box img {
    width: 100%;
  }
  .consumer-box:only-child .advertisement-box {
    flex-basis: 45%;
  }
}

@media screen and (max-width: 800px) {
  .advertisement-box {
    flex-basis: 90%;
  }
  .consumer-box:only-child .advertisement-box {
    flex-basis: 45%;
  }
}

@media screen and (max-width: 600px) {
  .advertisement-image-box {
    display: none;
  }
}

#log-in-box {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  min-height: 137px;
  justify-content: space-around;
}

.select-css {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
  border-radius: .5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
  direction: rtl;
}

.select-css::-ms-expand {
  display: none;
}

.select-css select {
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  appearance: none;
}

#log-in-button {
  line-height: 2.3;
}